.wrap__blog input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #D9D9D9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
::-moz-placeholder { /* Firefox 19+ */

}
:-ms-input-placeholder { /* IE 10+ */

}
:-moz-placeholder { /* Firefox 18- */

}

.wrap__blog {

    display: flex;

    max-width: 1302px;

    margin: 0 auto;

    gap: 32px;
    padding-bottom: 100px;
    align-items: flex-start;

}

.single .wrap__blog {

    display: flex;

    max-width: 1236px;

    margin: 0 auto;

    gap: 32px;
    padding-bottom: 100px;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap-content__blog .row{
    row-gap: 32px;
}



.wrap__blog .wrap-sidebar-blog {

    max-width: 379px;

    background: #ffffff;

    padding: 30px 24px;
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    background: #FFF;

}


.wrap-sidebar-blog input.search-field {

    background: transparent;

    border: 0;

    outline: none;

    width: calc(100% - 30px);

    padding: 14px 0;

    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



.wrap-sidebar-blog .hoclaixe-wrapper-form {

    position: relative;

    border-bottom: 1px solid #11542B;

}





.wrap-sidebar-blog .submit-button-search {

    position: absolute;

    top: 14px;

    right: 0;

}



.wrap-sidebar-blog h3 {

    margin-bottom: 24px;

    margin-top: 40px;

    color: #222;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}



.wrap-sidebar-blog .sidebar-wrap-posts .home-our-news__card-content:before {

    content: none;

}



.wrap__blog .wrap-sidebar-blog .home-our-news__card {

    display: flex;

    margin-bottom: 16px;

    gap: 28px;

}



.wrap-sidebar-blog .home-our-news__card-content_author {

    display: flex;

    flex-direction: column;

    gap: 4px;

    justify-content: start;

    align-items: baseline;

    margin-bottom: 12px;
    color: #4E4E4E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.wrap__blog h6.home-our-news__card-content_title a {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.wrap__blog h6.home-our-news__card-content_title {
    margin-bottom: 0;
}

.wrap-sidebar-blog .home-our-news__card {

    gap: 24px;

    align-items: center;

}



.wrap-sidebar-blog ul {

    margin: 0;

    padding: 0;

    list-style: none;

}



.wrap-sidebar-blog .wrap-category ul a {

    color: #11542B;

    text-align: center;

    

    font-size: 14px;

    font-style: normal;

    font-weight: 400;

    line-height: normal;

    display: flex;

    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid rgba(146, 130, 66, 0.10);

    padding: 16px 0;

}



.wrap-sidebar-blog .wrap-tags a {

    display: inline-flex;

    justify-content: center;

    align-items: center;

    align-content: center;

    gap: 10px;

    flex-wrap: wrap;

    font-size: 16px;

    font-style: normal;

    font-weight: 500;

    line-height: normal;

    transition: all 0.5s ease;

    border-radius: 6px;
    border: 1px solid #11542B;
    background: #FFF;
    color: #11542B;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    padding: 2px 10px;

}



.wrap-sidebar-blog .wrap-tags a:hover {

    background: #11542B;

    color: #ffffff;

}

.wrap__blog .wrap-sidebar-blog .home-our-news__card img {
    max-width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 12px;
}



.wrap-sidebar-blog .wrap-tags li {

    display: inline-block;

    margin: 8px 6px;

}



.wrap-content__blog h6.home-our-news__card-content_title {

    min-height: 52px;

}



.sec-top-banner .container h1 {

    max-width: 644px;

}



.single .wrap-content__blog {

    width: 100%;

    background: #ffffff;

    padding: 40px 0;

}



.wrap__bottom_single_page div {

    color: #9497A1;

    font-size: 14px;

    font-style: normal;

    font-weight: 500;

    line-height: 24px;

    letter-spacing: -0.21px;

}



.wrap__bottom_single_page {

    display: flex;

    gap: 32px;

    margin-top: 60px;

    align-items: center;

    flex-wrap: wrap;

}

.wrap__bottom_single_page .tags {

    display: flex;

    align-items: center;

}



.wrap__bottom_single_page .tags a {

    display: inline-flex;

    padding: 4px 14px;

    justify-content: center;

    align-items: center;

    align-content: center;

    gap: 10px;

    flex-wrap: wrap;

    border: 1px solid #11542B;

    color: #11542B;

    text-align: center;

    font-size: 16px;

    font-style: normal;

    font-weight: 500;

    line-height: normal;

    margin-left: 12px;

    transition: all 0.5s ease;

}



.wrap__bottom_single_page .tags a:hover {

    background: #11542B;

    color: #ffffff;

}



.wrap__bottom_single_page div.share {

    display: flex;

    align-items: center;

    gap: 8px;

}


.wrap-sidebar-blog .wrap-category ul a:hover {

    color: #ffffff;

}



.wrap-sidebar-blog .wrap-category ul a:hover path {

    fill: #ffffff;

}



.wrap__blog .wrap-sidebar-blog .home-our-news__card:hover a {

    color: #11542B;

}



.wrap__blog .wrap-content__blog {

    width: 100%;

}


.wrap__blog .post-loop-container article.item {
    border-radius: 24px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    padding: 16px;
    margin: 0;
    max-width: 379px;
}

.wrap__blog .post-loop-container article.item a.img-wrap img {
    border-radius: 12px;
    overflow: hidden;
}

.wrap__blog .post-loop-container article.item .date-time {
    color: #4E4E4E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 20px;
}

.wrap__blog .post-loop-container article.item hr {
    width: 181px;
    height: 2px;
    flex-shrink: 0;
    background: #11542B;
    border-color: #11542B;
    opacity: 1;
    margin-top: 7px;
    margin-bottom: 26px;
}


.wrap__blog .post-loop-container article.item h3.title a {
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
}

.wrap__blog .post-loop-container article.item .excerpt {
    color: #222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 36px;
}


.wrap__blog .post-loop-container article.item a.btn-more {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: #11542B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 8px;
}


.wrap-content__blog .post-loop-container .row {
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.lib-filter-wrap .hlx-page-hero .col-content {
    padding: 0px;

}

.wrap__blog .post-loop-container article.item a.btn-more:hover, .wrap__blog .post-loop-container article.item h3.title a:hover {
    color: #fe7600;
}

.wrap__blog .post-loop-container article.item a.btn-more:hover path {
    fill: #fe7600;
}

.wrap__blog .pagination.loop-pagination {
    text-align: center;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap__blog .pagination.loop-pagination .page-numbers {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    padding: 0 6px;
}

.wrap__blog .pagination.loop-pagination .page-numbers.current {
    color: #11542B;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
}

.wrap__blog .pagination.loop-pagination a.next.page-numbers, .wrap__blog .pagination.loop-pagination a.prev.page-numbers {
    font-size: 0;
}

.lib-filter-wrap h1.h2 {
    text-transform: uppercase;
}


.single .sec-top-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.single .sec-top-banner .container {
    padding-top: 196px;
    padding-bottom: 116px;
}

.single .sec-top-banner .container h1.title-sec {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    font-size: 42px;
    color: #ffffff;
    z-index: 2;
    position: relative;
}

.single .sec-top-banner .container .breadcrumb a {
    color: #ffffff;
}

.single .sec-top-banner .container .breadcrumb {
    margin-bottom: 15px;
    z-index: 2;
    position: relative;
    color: #ffffff;
}

.single .sec-top-banner .container:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 30%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.single .wrap-sidebar-blog {
    margin-top: 40px;
}

.wrap__bottom_single_page path {
    fill: #13552c;
}

.single .list-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.wrap__blog .post-loop-container article.item {
    margin: 0 15px;
    width: calc( 50% - 30px);
}

.wrap-content__blog .post-loop-container .row {
    margin: 0 -15px;
}

@media screen and (max-width: 992px) {
    .wrap__blog .post-loop-container article.item {
        margin: 0;
        width: 100%;
    }

    .wrap-content__blog .post-loop-container .row {
        margin: 0;
    }
}

@media screen and (max-width: 767px) {

    .single .sec-top-banner .container h1.title-sec {
        font-size: 32px;
        line-height: 1.2;
    }

    .hlx-page-hero p {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .hlx-page-hero::before {
        top: 90px;
    }

    .wrap__blog {
        flex-wrap: wrap;

    }



    .wrap__blog .wrap-sidebar-blog {

        max-width: 100%;

    }


    .single .wrap__blog {

        padding: 0px 15px;
        padding-bottom: 45px;

    }

    .single .wrap-content__blog {
        padding: 30px 0px;
        padding-bottom: 0;
    }

    .wrap__blog .post-loop-container article.item .date-time {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 162%;
    }

    .wrap__blog .post-loop-container article.item hr {
        margin-bottom: 16px;
    }

    .wrap__blog .post-loop-container article.item {
        padding: 12px;
        border-radius: 12px;
    }

    .wrap__blog .post-loop-container article.item h3.title a {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    .wrap-content__blog .row {
        row-gap: 24px;
    }

    .wrap__blog .wrap-sidebar-blog {
        padding: 24px 16px;
    }

    .wrap__blog .wrap-sidebar-blog .home-our-news__card {
        gap: 12px;
    }

    .wrap__blog h6.home-our-news__card-content_title a {
        color: #222;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    .wrap-sidebar-blog .home-our-news__card-content_author {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 8px;
    }

    .wrap-content__blog .post-loop-container .row {
        justify-content: center;
    }

    .wrap__blog {
        padding-bottom: 45px;
    }
}



@media screen and (max-width: 576px) {

    .wrap-content__blog .row {

        flex-wrap: wrap;

    }

    .wrap-content__blog .row {

        margin: 0;

    }

    .wrap-content__blog .row article.item {

        width: 100%;

    }

    .wrap__blog .post-loop-container article.item {
        max-width: 100%;
    }

}