body {
   overflow-x: hidden;
}

img {
   max-width: 100%;
   height: auto;
}


#breadcrumbs {
   color: var(--prim, #C39B46);
   font-family: Montserrat;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
}

.site_breadcrumb {
   padding-top: 13px;
   padding-bottom: 13px;

   #breadcrumbs {
      color: #222;
   }
}