body {
   overflow-x: hidden;
}

img {
   max-width: 100%;
   height: auto;
}


#breadcrumbs {
   color: var(--prim, #C39B46);
   font-family: Montserrat;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: 18px;
}

.site_breadcrumb {
   padding-top: 13px;
   padding-bottom: 13px;

   #breadcrumbs {
      color: #222;
   }
}

.fullwidth {
   width: 100%;
}

.gallery-wrap {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;

   @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
   }

   @media (max-width: 600px) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.top_contact {
   .icon {
      svg {
         width: 16px;
         height: 16px;
      }
   }
}

#contact_fixed a {
   position: fixed;
   left: 15px;
   transition: 0.3s;
   width: 50px;
   text-decoration: none;
   font-size: 25px;
   z-index: 2;

   svg {
      width: 30px;
      height: 30px;
   }
}